$background: white;

body {
  background: $background;
  font-family: "Helvetica Neue", serif;

}

.container-master {
    width: 755px;
    margin-right: auto;
    margin-left: auto;
}

.container-master .container-x {
	z-index: 2;	
}

.form-group .body-x {
	margin-top: 85px;
	color: #8884d8;
	font-size: 12px;
}

.container-x .container {
	width: 100%;
}

.input-x .search-bar {
	border: 3px solid #8884d8;
    font: 28px proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    padding: 3px;
    width: 450px;
    margin-top: -1px;
    height: 45px;
}

.add-button {
	border: 3px solid #8884d8;
	color: #8884d8;
	background-color: #FFF;
    font: 24px proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    margin-left: 5px;
    width: 150px;
    height: 45px;
    margin-top: -1px;
    padding: -0px 10px;
}

.index-button {
	border: 3px solid #8884d8;
	color: #8884d8;
	background-color: #FFF;
    font: 24px proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    margin-right: 5px;
    width: auto;
    height: 45px;
    margin-top: -1px;
    padding: -0px 10px;
    float: left;
}

.watch-button {
	border: 3px solid #8884d8;
	color: #8884d8;
	background-color: #FFF;
    font: 22px proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    height: 36px;
    padding: -0px 10px;
}

.delete-button {
    font: 6px proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    color: white;
    font-weight: 700;
    margin-left: 5px;
    margin-bottom: 6px;
    padding: 1px;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    vertical-align: middle;
    float: right;
}

.ul-input-bar {
	padding-left: initial;
}

.list-input-bar {
	font-size: 16px;
	margin-bottom: 10px;
    margin-top: 10px;
}

.navbar-nav>li>button {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav>li>button {
    color: #777;
    border-width: 0;
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
}
