<html>
<head>
  <title>Volalert</title>
</head>
  <body>
  <section>
  <h2>Volalert</h2>
  </section>
  <div class='container' id="js-main"></div>

  <%- body %>

  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
